*~
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
src/varnam
*.a
tests/#CMakeLists.txt#
tests/runner
build/
*.vst
*.so
*.so.*
install_manifest.txt
Testing/
TAGS
tests/output
tmp/
varnamc-learnings.varnam
varnamc-learnings.varnam-shm
varnamc-learnings.varnam-wal