*~
CMakeCache.txt
CMakeFiles/
Makefile
src/varnam
*.a
tests/#CMakeLists.txt#
tests/runner
build/
*.so
*.so.*
*.dylib
install_manifest.txt
Testing/
TAGS
tests/output
tmp/
varnamc-learn-failures.txt
varnamc-train-failures.txt
varnamc-learnings.varnam
varnamc-learnings.varnam-shm
varnamc-learnings.varnam-wal
ml-unicode.vst-journal
examples/learning
examples/transliteration
examples/learning-example-suggestions.varnam*
*.vst
tools/print-tokens
*.learnings*
.DS_Store
CTestTestfile.cmake
cmake_install.cmake
tests/runtests
tests/testrun.log
varnam.pc
varnamstatic.pc
cmake_uninstall.cmake
tests/testrun.xml
*.vcxproj
*.filters
*.sln
*.sdf
*.opensdf
Debug/
Win32/
*.dir
examples/stemmer.c
examples/stemmer
distribution-tarball/
testrun.log
testrun.xml
