*~
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
src/varnam
*.a
tests/#CMakeLists.txt#
tests/runner
build/
*.so
*.so.*
*.dylib
install_manifest.txt
Testing/
TAGS
tests/output
tmp/
varnamc-learn-failures.txt
varnamc-train-failures.txt
varnamc-learnings.varnam
varnamc-learnings.varnam-shm
varnamc-learnings.varnam-wal
ml-unicode.vst-journal
examples/learning
examples/transliteration
examples/learning-example-suggestions.varnam*
tests/td-00.vst
*.vst
tools/print-tokens
